.menu {
  background-color: rgb(255, 255, 175);
  padding: 30px 50px;
  overflow: hidden;  
  white-space: nowrap;
  overflow-x: auto;
}

.menu a {
  display: block;
  float: left;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.menu a:hover {
  text-decoration: underline;
}

#currentlyPlaying {
  display: inline-block;
  padding: 6px 200px;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  color: #333;
  text-align: center;
  white-space: nowrap;
}

.section {
    width: 1000px;
    height: 310px;
    align-items: center;
    padding: 10px 50px;  
    padding-bottom: 50px;
    padding-top: 50px;
}

.largeSection{
  width: 1000px;
  height: 500px;
  align-items: center;
  padding: 10px 50px;  
  padding-bottom: 50px;
  padding-top: 50px;
}

.inline-container {
    overflow: hidden;  
}

.inline-container img {
    float: left;
    width: 15em; 
    height: auto;
    margin-right: 60px;
    border-radius: 50px;  
}

.aboutme-content {
    overflow: hidden;
}

 
.skill {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border: 2px solid #333;
    border-radius: 6px;
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-align: center;
    white-space: nowrap;
  }

  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fdf6e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .contact-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  
body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
}
